body {
    background-color: purple;
    color: darkgoldenrod;
    font-family: monospace;
    font-size: 16px;
    margin: 10px;
    padding: 20px;

}

header {
    background-color: darkgoldenrod;
    color: purple;
    text-align: center;
    margin: 10px;
    padding: 20px;
}


section {
    background-color: darkgoldenrod;
    color: purple;
    margin: 10px;
    padding: 20px;
}

section > article.odd {
    background-color: #dddd77;
    margin: 10px;
    padding: 20px;
}

section > article.even {
    background-color: #77dd77;
    margin: 10px;
    padding: 20px;
}

footer {
    background-color: darkgoldenrod;
    color: purple;
    margin: 10px;
    padding: 20px;
}

nav {
    list-style-type: none;
    font-size: 24px;
}

li.nav-list {
    display:inline;
    margin: 5px;
    padding: 5px;
}

article > img {
    max-width:200px;
    max-height:200px;
    width:auto;
    height:auto;
  }

 /* unvisited link */
 a:link {
    color: #779ecb;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }

  

